/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Container for main content */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

h3 {
  margin-top: 40px;
  font-size: 20px;
}

/* Work and Break Tables */
.workTable,
.breakTable {
  width: 48%;
  float: left;
  margin: 0 1%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px; /* Set the height to 60% of the container */
  overflow-y: auto; /* Make the tables scrollable */
  position: relative; /* For positioning the heading */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Centered Heading within the Table Container */
.workTable h4,
.breakTable h4 {
  text-align: center;
  margin: 10px 0;
}

/* Table Styles */
.workTable table,
.breakTable table {
  width: 100%;
  border-collapse: collapse;
}

.workTable thead,
.breakTable thead {
  background-color: #007bff;
  color: #fff;
}

.workTable th,
.breakTable th,
.workTable td,
.breakTable td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.workTable th,
.breakTable th {
  font-weight: bold;
}

.workTable tr:nth-child(even),
.breakTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.workTable tr:hover,
.breakTable tr:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}

/* Clearfix for floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Charts */
.charts-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.chart-container {
  flex: 1;
  position: relative;
}

.chart-container canvas {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leadTimeChart,
#progressCategoriesChart,
#progressTimeChart {
  background-color: #fff;
}

/* Progress Categories Chart */
.progress-categories-chart-container {
  width: 90%; /* 90% of the width of combined time charts */
  margin: 20px auto;
}

.progress-categories-chart-container canvas {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .workTable,
  .breakTable {
    width: 100%;
    margin: 0 0 20px;
    height: auto; /* Remove fixed height for mobile view */
  }

  .charts-container {
    flex-direction: column;
  }
}
