/* General Styles */
body {
  font-family: Arial, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.leads-container {
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 80vh; /* 80% of viewport height */
  overflow-y: auto; /* Scrollable */
  margin-right: 20px;
}

.Followup {
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 80vh; /* 80% of viewport height */
  overflow-y: auto; /* Scrollable */
}

h2 {
  margin-bottom: 20px;
}

/* Button Styles */
.btn-view-my-leads {
  background-color: #044654;
  padding: 5px 10px;
  margin: 5px 5px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-view-my-leads:hover {
  background-color: #1976d2;
}

.btn-assign {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-assign:hover {
  background-color: #45a049;
}

/* Countdown */
.countdown {
  display: inline-block;
  background-color: #f8d7da;
  padding: 5px 10px;
  border-radius: 5px;
}

.countdown-seconds {
  font-weight: bold;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

/* Highlight Rows by Progress */
.progress-lost {
  background-color: #f8d7da;
}

.progress-not-interested {
  background-color: #f8d7da;
}

.progress-follow-up {
  background-color: #fff3cd;
}

.progress-buys {
  background-color: #d4edda;
}

.progress-didnt-connect {
  background-color: #f8d7da;
}

.progress-first-call-done {
  background-color: #fff3cd;
}

.progress-quote-sent {
  background-color: #d4edda;
}

.progress-converted {
  background-color: #d4edda;
}

.progress-not-started {
  background-color: #f1f1f1;
}
