/* Basic styling for the login page */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(
        61deg,
        rgba(1, 183, 198, 1) 0%,
        rgba(198, 127, 27, 0.8576680672268908) 67%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Moving gradient background animation */
@keyframes gradientBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  animation: zoomIn 1s ease-in-out;
}

.login-container h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  font-weight: 500;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 95%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  font-size: 14px;
  transition: all 0.3s ease;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  border-color: #03a9f4;
  box-shadow: 0px 0px 10px rgba(3, 169, 244, 0.2);
  background-color: #ffffff;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 12px;
  background: rgb(242, 242, 214);
  background: linear-gradient(
    61deg,
    rgba(242, 242, 214, 0.9697128851540616) 0%,
    rgba(217, 111, 45, 1) 47%
  );
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.login-container input[type="submit"]:hover {
  background-color: #0288d1;
  box-shadow: 0px 5px 15px rgba(2, 136, 209, 0.3);
}

.error-message {
  color: #e53935;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
  display: block;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
